@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&display=swap");

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  background: #000000;
    font-family:
    "Geologica",
    system-ui,
    -apple-system,
    "Segoe UI",
    Roboto,
    Helvetica,
    Arial,
    sans-serif;
}

