@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&display=swap");

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  background: #000000;
    font-family:
    "Geologica",
    system-ui,
    -apple-system,
    "Segoe UI",
    Roboto,
    Helvetica,
    Arial,
    sans-serif;
}

/* ── Hamburger Button ── */
.hamburger {
  display: none;
  flex-direction: column;
  background: transparent;
  border: none;
  cursor: pointer;
  gap: 6px;
  padding: 0;
  align-items: center;
  justify-content: center;
}

.hamburger span {
  width: 25px;
  height: 3px;
  background-color: #FFFFFF;
  border-radius: 3px;
  transition: all 0.3s ease;
  display: block;
}

.hamburger.active span:nth-child(1) {
  transform: rotate(45deg) translate(8px, 8px);
}

.hamburger.active span:nth-child(2) {
  opacity: 0;
}

.hamburger.active span:nth-child(3) {
  transform: rotate(-45deg) translate(7px, -6px);
}

@media (max-width: 768px) {
  .hamburger {
    display: flex;
  }
}

